{% extends "base.html.j2" %}

{% block title %}결제완료{% endblock title %}

{% block style %} {% endblock style %} 

{% block script %}
<script>
swal({
      title: "{{swal_title}}",
      text: `{{data.title}}\n\n{{data.description}}\n\n{{footer}}`,
      icon: "success",
      buttons: { confirm: "돌아가기" },
      closeOnClickOutside: false,
      closeOnEsc: false,
    }).then((YES) => {
      location.href="{{data.aftercomplete}}";
    });
</script>
{% endblock script %}
