{% extends "base.html.j2" %}

{% block title %}결제완료{% endblock title %}

{% block style %} {% endblock style %} 

{% block script %}
<script>
const el = document.createElement('div')
el.innerHTML = `<a href="{{data.get('card').get('receiptUrl')}}">영수증</a>`
swal({
      title: "결제가 완료되었습니다!",
      text: `{{data.title}}\n\n{{data.description}}\n\n감사합니다`,
      icon: "success",
      buttons: { confirm: "나가기" },
      closeOnClickOutside: false,
      closeOnEsc: false,
    }).then((YES) => {
      location.href="about:blank";
    });
</script>
{% endblock script %}
