{% extends "base.html.j2" %}

{% block head %}
<script src="https://js.tosspayments.com/v1"></script>
{% endblock head %}

{% block body %} {% endblock body %} 

{% block scripts %}
<script>
{% if  ordernum %}
    var ordernum = {{ordernum}}
{% endif %}
var data = {
  price: 5400,
  ordernum: "L-210425001",
  title: "Leo: Test Product",
  description: "총 비용: 50000₩\n- 도메인: 8000₩\n- 홈페이지 서버 이전: 10000₩\n- 공임비: 32000₩",
  customer: "LeoKim"
}
</script> 

<script>
  var clientKey = "{{toss_ck}}";
  var tossPayments = TossPayments(clientKey);
  tossPayments.requestPayment("카드", {
    amount: data.price,
    orderId: data.ordernum,
    orderName: data.title,
    customerName: data.customer,
    successUrl: window.location.origin + "/success",
    failUrl: window.location.origin + "/fail",
  });
</script>
{% endblock scripts %}
