{% extends "base.html.j2" %}

{% block title %}결제하기{% endblock title %}

{% block head %}
<script src="https://js.tosspayments.com/v1"></script>
{% endblock head %}

{% block style %} {% endblock style %} 

{% block script %}
<script>
  function tosspay(data){
  var clientKey = "{{toss_ck}}";
  var tossPayments = TossPayments(clientKey);
  tossPayments.requestPayment("카드", {
    amount: data.price,
    orderId: data.orderId,
    orderName: data.title,
    customerName: data.customer,
    customerEmail: data.email,
    successUrl: window.location.origin + "/api/PayCallback",
    failUrl: window.location.origin + "/api/FailCallback",
  });}
</script>

<script>
{% if  orderId %}
var orderId = "{{orderId}}"
$.post("/api/FindOrderData",{"orderId":orderId},function(data){
  console.log(data)
  if (!data.price){
    swal({
    title: "올바르지 않은 주문번호 입니다",
    icon: "error",
    closeOnClickOutside: false,
    closeOnEsc: false
    }).then(function(ok){location.replace("/pay")})
  }
  tosspay(data)
})
{% else %}
function input_orderId(){
  swal({
  title: "주문번호를 입력해주세요",
  icon: "info",
  buttons: { confirm: "다음" },
  content:{
    element: "input",
    attributes: {
      placeholder: "L-190215225301",
      type: "text",
    }
  },
  closeOnClickOutside: false,
  closeOnEsc: false,
}).then((input) => {
  if (!input){
    swal({
    title: "주문번호를 입력하세요",
    icon: "error",
    closeOnClickOutside: false,
    closeOnEsc: false
    }).then((ok)=>{input_orderId();})
    document.activeElement.blur()
    return
  }
  $.post("/api/FindOrderData",{"orderId":input},function(data){
  console.log(data)
  if (!data.price){
    swal({
    title: "올바르지 않은 주문번호 입니다",
    icon: "error",
    closeOnClickOutside: false,
    closeOnEsc: false
    }).then((ok)=>{input_orderId();})
    document.activeElement.blur()
    return
  }
  swal({
    title: "정보 확인",
    icon: "info",
    text: data.title+"\n\n"+data.description.split("\\n").join("\n"),
    buttons: { confirm: "결제하기" },
    closeOnClickOutside: false,
    closeOnEsc: false
  }).then((val) => {tosspay(data)});
  return;
  }
  )
});
};
input_orderId()
{% endif %}
</script>
{% endblock script %}
